services:

  experiment-channel:
    hostname: channel
    image: davidedomini99/artifact-coordination-2026-phyelds:${version-latest}
    build:
      context: .
      dockerfile: docker/sim/Dockerfile
#    volumes:
#      - davide.domini-volume:/experiment/data
    environment:
      - TASK=src/patterns/channel.py

  experiment-scr:
    hostname: scr
    image: davidedomini99/artifact-coordination-2026-phyelds:${version-latest}
    volumes:
      - davide.domini-volume:/experiment/data
    environment:
      - TASK=src/patterns/scr.py

#  experiment-fbfl:
#    hostname: fbfl
#    image: davidedomini99/artifact-coordination-2026-phyelds:${version-latest}
#    volumes:
#      - davide.domini-volume:/experiment/data
#    environment:
#      DATA_OWNER: 1000:1000
#      LEARNING_HYPERPARAMETERS: |
#        all:
#          environment: SimpleSpread
#          transfer_enabled: True
#          restricted_communication: True
#          max_seed: 3
