services:

  experiment-channel:
    hostname: channel
    image: davidedomini99/artifact-coordination-2026-phyelds:${version-latest}
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./output:/experiment/output
    environment:
      - TASK=src/patterns/channel.py

  experiment-scr:
    hostname: scr
    image: davidedomini99/artifact-coordination-2026-phyelds:${version-latest}
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./output:/experiment/output
    environment:
      - TASK=src/patterns/scr.py

  experiment-fbfl:
    hostname: fbfl
    image: davidedomini99/artifact-coordination-2026-phyelds:${version-latest}
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./output:/experiment/output
    environment:
      - TASK=src/fl/simulation.py

  experiment-vmas-flocking:
    hostname: vmas-flocking
    image: davidedomini99/artifact-coordination-2026-phyelds:${version-latest}
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./output:/experiment/output
    environment:
      - TASK=src/vmas-integration/VicsekFlocking.py